<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.planthome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantHome">

        <activity android:name=".TutorialManagement.ViewTuteMethodActivity" />
        <activity android:name=".TutorialManagement.Update_Tutorials" />
        <activity android:name=".TutorialManagement.SearchTutesActivity" />
        <activity android:name=".TutorialManagement.ManageTutorials" />
        <activity android:name=".TutorialManagement.AddTutorials" />

        <activity android:name=".CustomerManagement.Customer_one_plant_item_view" />
        <activity android:name=".CustomerManagement.ViewPlants" />
        <activity android:name=".PlantsManagement.Customer_view_plant_item" />
        <activity android:name=".PlantsManagement.PlantItemView" />
        <activity android:name=".PlantsManagement.sampleAddPlant" />
        <activity android:name=".PlantsManagement.PlantManagerUserInterface" />
        <activity android:name=".PlantsManagement.AddPlant" />
        <activity
            android:name=".CustomerManagement.ConfirmPaymentMethod"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerManagement.ConfirmShippingAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerManagement.PlaceOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerManagement.ViewPaymentMethod"
            android:screenOrientation="portrait" />
        <activity android:name=".FertilizerManager" />
        <activity android:name=".TutorialManager" />

        <activity
            android:name=".AdminLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerManagement.ViewShippingAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerManagement.AddPaymentMethod"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerManagement.AddShippingAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerManagement.ShoppingCart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerManagement.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerManagement.UserInterface"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>